{% extends 'base.html' %}

{% block title %}Auctioneers{% endblock %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Auctioneers Listing</h1>
            <p class="lead">Feel free to browse the list of available auctioneers</p>
        </div>
    </div>
{% endblock %}

{% block content %}

    Auctioneers {{ auctioneers|length }} <br>

    <ul>
    {% for auctioneer in auctioneers %}
    <li>
        {{ auctioneer.name }} |
        <a href="/auctioneers/{{ auctioneer.slug }}/details/">Auctioneer Details</a> |
        <a href="/auctioneers/{{ auctioneer.slug }}/auctions/">Current Auctions</a> |
        <a href="/auctioneers/{{ auctioneer.slug }}/pastsales/">Past Auctions</a>
    </li>
    {% endfor %}
    </ul>

{% endblock %}