{% extends 'base.html' %}

{% block title %}Auctions{% endblock %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Auctions Listing</h1>
            <p class="lead">Feel free to browse the list of available auctions</p>
        </div>
    </div>
{% endblock %}

{% block content %}

    <!--Auctions {{ auctions|length }} <br>-->

    {% for auction in auctions %}

    <div class="card card-inverse" style="background-color: #333; border-color: #333;">
      <div class="card-header">
          <div class="row">
              <div class="col-6">By <a href="/auctioneers/{{ auction.auctioneer.slug }}/details/">{{ auction.auctioneer }}</a></div>
              <div class="col-6 text-right">{%  if auction.auction_start_date %}{{ auction.auction_start_date }}{% else %} TBA {% endif %}</div>
          </div>
      </div>
      <div class="card-block">
        <h2 class="card-title">{{ auction.name }}</h2>
        {%  if auction.summary %}<p class="card-text">{{ auction.summary }}</p>{% endif %}
        <a href="/auctioneers/{{ auction.auctioneer.slug }}/auctions/{{ auction.slug }}/details/" class="btn btn-primary">Auction Details</a><br>
      </div>
      <div class="card-footer text-muted">
          <a href="/auctioneers/{{ auction.auctioneer.slug }}/auctions/{{ auction.slug }}/items/" class="btn btn-primary">Items Listing</a>
      </div>
    </div>
        <br>
    {% endfor %}

{% endblock %}