{% extends 'base.html' %}

{% block title %}Auctioneers{% endblock %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid" id="jumbotron-auctioneers">
        <div class="container">
            <h1 class="display-3">Auctioneers</h1>
            <p class="lead">Feel free to browse the list of available auctioneers</p>
            <a href="/auctioneer-registration-form/" class="btn btn-primary">Become an auctioneer</a>
        </div>
    </div>
{% endblock %}

{% block content %}

    <!--Auctioneers {{ auctioneers|length }} <br>-->

    {% for auctioneer in auctioneers %}
        <div class="card text-center">
            <div class="card-block">
                <h4 class="card-title">{{ auctioneer.name }}</h4>
                <p class="card-text">{% if auctioneer.motto %}{{ auctioneer.motto|title }}{% else %}&nbsp;{% endif %}</p>
                <a href="/auctioneers/{{ auctioneer.slug }}/auctions/" class="btn btn-primary">Current Auctions</a>
            </div>
            <div class="card-footer text-muted">
                <a href="/auctioneers/{{ auctioneer.slug }}/details/">Auctioneer Details</a> |
                <a href="/auctioneers/{{ auctioneer.slug }}/pastsales/">Past Auctions</a>
            </div>
        </div>
        <br>
    {% endfor %}

{% endblock %}