{% extends 'base.html' %}

{% block title %}Auctions{% endblock %}

{% block content %}

    Auctions {{ auctions|length }} <br>

    <ul>
    {% for auction in auctions %}
    <li>
        {{ auction.name }} |
        <a href="/auctions/{{ auction.slug }}/details/">Auction Details</a>  |
        <a href="/auctions/{{ auction.slug }}/items/">Items Listing</a> |
        <a href="/auctioneers/{{ auctioneer.slug }}/details/">Auctioneer Details</a>
    </li>
    {% endfor %}
    </ul>

{% endblock %}