{% extends 'base.html' %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}Categories{% endblock %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Available Categories</h1>
            <p class="lead">Select an item category to filter your search</p>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class=row">
        <div class="card-columns">
            {% for item_category in item_categories %}
                <div class="card">

                    <a href="/categories/{{ item_category.slug }}/"><img class="card-img-top img-fluid"
                                                                         src="{% get_static_prefix %}base/img/category/{{ item_category.slug }}.jpg"
                                                                         alt="{{ item_category.name }}"></a>

                    <div class="card-block">
                        <h4 class="card-title"><a
                                href="/categories/{{ item_category.slug }}/">{{ item_category.name }}</a></h4>

                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-primary" href="/categories/{{ item_category.slug }}/" role="button">View all
                            available {{ item_category.name }}</a>
                    </div>
                    <br>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}