{% extends 'base.html' %}

{% block title %}Item{% endblock %}

{% block content %}
    <p></p>

    <div class="row justify-content-center align-items-center">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
    </div>

    <div class=row">
        <div class="card-columns">
            <div class="card">
                <a href="/items/{{ item.id }}"><img class="card-img-top img-fluid" src="https://images.giqauction.com/1067/standard/1435333.jpg" alt="{{ item.name }}"></a>
                <div class="card-block">
                    <h4 class="card-title"><a href="/items/{{ item.id }}">{{ item.name }}</a></h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><button type="submit" class="btn btn-primary">Bid $5000</button></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}