{% extends 'base.html' %}

{% block title %}Items{% endblock %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Available Items</h1>

            <p class="lead">Feel free to browse the list of available items</p>
        </div>
    </div>
{% endblock %}

{% block content %}





    <!--
    <p><a href="/auctioneers/{{ auctioneer.slug }}/details/">Auctioneer Details</a></p>
    <p><a href="/auctions/{{ auction.slug }}/details/">Auction Details</a></p>

    <div id="accordion" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Auction Information
            </a>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-block">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Auctioneer information
            </a>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="card-block">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>

    <br>
-->

    <!--Items {{ items|length }} <br>-->
    <div class="row justify-content-center align-items-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    {% if items.has_previous %}
                        <a class="page-link" href="?page={{ items.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    {% endif %}
                </li>
                {% for page in items.paginator.page_range %}
                    <li class="page-item {% if page == items.number %}active{% endif %}"><a class="page-link"
                                                                                            href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% endfor %}
                <li class="page-item">
                    {% if items.has_next %}
                        <a class="page-link" href="?page={{ items.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
    <div class=row">
        <div class="card-columns">
            {% for item in items %}
                <div class="card">
                    {% for picture in item.item_pictures.all %}
                        {% if picture.primary %}
                            <a href="/auctioneers/{{ item.auctioneer.slug }}/auctions/{{ item.auction.slug }}/items/{{ item.slug }}/"><img
                                    class="card-img-top img-fluid" src="{{ picture.picture.url }}"
                                    alt="{{ item.name }}"></a>
                        {% endif %}
                    {% endfor %}

                    <div class="card-block">
                        <h4 class="card-title"><a
                                href="/auctioneers/{{ item.auctioneer.slug }}/auctions/{{ item.auction.slug }}/items/{{ item.slug }}/">{{ item.name }}</a>
                        </h4>

                        <div class="row">
                            <div class="col-3">Lot</div>
                            <div class="col-3">1</div>
                            <div class="col-3 text-right">Run</div>
                            <div class="col-3 text-right">1</div>
                        </div>
                        <div class="row">
                            <div class="col-3">Lot</div>
                            <div class="col-3">1</div>
                            <div class="col-3 text-right">Run</div>
                            <div class="col-3 text-right">1</div>
                        </div>

                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>

                        <div class="text-center">
                            <small id="timer_label_{{ item.id }}">Calculating...</small>
                        </div>
                        <div class="text-center timer" id="timer_{{ item.id }}">Calculating...</div>
                        <br>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Bid $5000</button>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{% for cat in item.item_categories_query %}
                            <a href="/categories/{{ cat.slug }}/">{{ cat.name }}</a>
                        {% endfor %}</small>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="clock"></div>

    <script>
        var item_list = [];
        {% for item in items %}
            var item_obj = {};
            item_obj.id = {{ item.id }};
            item_obj.auction_date_start = '{{ item.auction_date_start|date:'Y-m-d H:i:s' }}';
            item_obj.auction_date_end = '{{ item.auction_date_end|date:'Y-m-d H:i' }}';
            item_list.push(item_obj);
        {% endfor %}

        function updateTimer() {
            var index;
            for (index = item_list.length - 1; index >= 0; --index) {

                var $timer_label = $('#timer_label_' + item_list[index].id);
                var $clock = $('#timer_' + item_list[index].id),
                        eventTime = moment(item_list[index].auction_date_start, 'YYYY-MM-DD HH:mm:ss').unix(),
                        currentTime = moment().unix(),
                        diffTime = eventTime - currentTime,
                        duration = moment.duration(diffTime * 1000, 'milliseconds');
                //interval = 1000;

                $clock.text(duration);
                if (diffTime > 0) {
                    duration = moment.duration(duration.asMilliseconds(), 'milliseconds');
                    var d = moment.duration(duration).days(),
                            h = moment.duration(duration).hours(),
                            m = moment.duration(duration).minutes(),
                            s = moment.duration(duration).seconds();

                    d = $.trim(d).length === 1 ? '0' + d : d;
                    h = $.trim(h).length === 1 ? '0' + h : h;
                    m = $.trim(m).length === 1 ? '0' + m : m;
                    s = $.trim(s).length === 1 ? '0' + s : s;

                    $clock.text(d + ':' + h + ':' + m + ':' + s);
                    $timer_label.text('Bid open in');

                } else {
                    $clock.html('&nbsp;');
                    $timer_label.html('&nbsp;');
                }
            }
        }


        window.onload = function (e) {
            setInterval(updateTimer, 1000);
        };

    </script>


{% endblock %}