appdirs==1.4.3
automium==0.2.6
automium-web==0.1.1
click==6.7
dj-static==0.0.6
Django==1.11.1
django-uuslug==1.1.8
djangorestframework==3.6.3
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.9.6
legacy==0.1.6
MarkupSafe==1.0
packaging==16.8
psycopg2==2.7.1
pyparsing==2.2.0
python-decouple==3.0
python-slugify==1.2.4
pytz==2017.2
six==1.10.0
static3==0.7.0
Unidecode==0.4.20
Werkzeug==0.12.2
