{% extends 'base.html' %}

{% block title %}Auctions{% endblock %}

{% block content %}

    <br>

    <table class="table table-striped">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Status</th>
            <th>Level</th>
            <th>Task</th>
            <th>User</th>
        </tr>
        </thead>
        {% for obj in object_list %}
            <tr>
                <td>{{ obj.pk }}</td>
                <td>{{ obj.status }}</td>

                <td>{{ obj.level }}</td>
                <td><a href="{% url 'tasks:detail' pk=obj.pk %}">{{ obj.name }}</a><br></td>
                <td>{{ obj.user }}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}