* {
    font-family: 'Fira Sans', sans-serif;
}

html, body {
    height: 100%;
}

body {
    margin-top: 54px;
}

#content {
    min-height: 25vh;
}

#jumbotron-auctioneers {
    background: url('/static/base/img/header/auctioneers.jpg') fixed top;
}

#jumbotron-auctions {
    background: url('/static/base/img/header/auctions.jpg') fixed top;
}

#jumbotron-become-a-bidder {
    background: url('/static/base/img/header/become-a-bidder.jpg') fixed top;
}

#indexfullsreen {
    height: 100%;
    background-image: url('/static/base/img/index/indexLogo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
    background-color: #999;
}

.card-block {
    width: 100% !important;
}

/*
@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }


}

@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}
*/

.timer {
    font-family: 'Ubuntu Mono', monospace;
}
